/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-MoFoqJ2nOeZ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-MoFoqt2nOeZ.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-MoFoqB2nOeZ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-MoFoqF2nOeZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-MoFoq92nA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "abril-display-italic";
  src: url("/Content/Fonts/abril-display-italic.otf") format("woff"), url("/Content/Fonts/abril-display-italic.otf") format("opentype"), url("/Content/Fonts/abril-display-italic.otf") format("truetype");
}
html {
  position: relative;
  min-height: 100%;
  font-size: 52.5%;
}
@media (min-width: 576px) {
  html {
    font-size: 40.5%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 45.5%;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 52.5%;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
    /*1rem = 10px*/
  }
}
body {
  color: #939598;
  font-size: 1.6rem;
  padding-top: 7.1rem;
  font-family: 'Lato', sans-serif;
}
@media (min-width: 576px) {
  body {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 1.6rem;
  }
}
nav {
  min-height: 7.1rem;
  background-color: #d4d4d8;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
nav.navbar {
  padding: 0;
}
nav.navbar .collapse {
  padding: 0 24.5rem;
}
nav.navbar .collapse ul.navbar-nav li a.nav-link {
  line-height: 7.1rem;
  background-color: #f05a22;
  padding: 0 30px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}
nav.navbar .collapse ul.navbar-nav li.active a.nav-link {
  position: relative;
}
nav.navbar .collapse ul.navbar-nav li.active a.nav-link:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: solid 8px #fff;
  border-left: solid 7.5px transparent;
  border-right: solid 7.5px transparent;
}
.modal-backdrop {
  background-color: transparent;
}
#home article.article-1 h2 {
  margin-top: 4.5rem;
  font-family: 'Lora', sans-serif;
  font-style: italic;
  color: #192450;
  font-size: 2.8rem;
}
#home article.article-1 h2 span {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.1rem;
}
#home article.article-1 .card {
  flex-direction: row;
  align-items: center;
  font-family: 'Lato', sans-serif;
  border: 0;
  margin-bottom: 12rem;
}
#home article.article-1 .card .thumbnail {
  max-width: 24.8rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
  position: relative;
  border: 1px solid #dddedf;
}
#home article.article-1 .card .thumbnail .card-img-top {
  min-width: 100%;
}
#home article.article-1 .card .thumbnail .thumbnail-footer {
  position: absolute;
  bottom: 0;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  width: 100%;
}
#home article.article-1 .card .thumbnail .thumbnail-footer span {
  padding-left: 10px;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
}
#home article.article-1 .card .thumbnail .thumbnail-footer span.color-1 {
  color: #617c9c;
}
#home article.article-1 .card .thumbnail .thumbnail-footer span.color-2 {
  color: #ef4438;
}
#home article.article-1 .card .thumbnail .thumbnail-footer span.color-3 {
  color: #cf9518;
}
#home article.article-1 .card .thumbnail .thumbnail-footer span.color-4 {
  color: #8aa532;
}
#home article.article-1 .card .card-body {
  padding-left: 40px;
}
#home article.article-1 .card .card-body h4 {
  color: #1A2550;
  font-size: 2.1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
#home article.article-1 .card .card-body .card-title {
  color: #1a2550;
  font-size: 1rem;
  font-family: 'abril-display-italic', serif;
  font-style: italic;
  margin-bottom: 2rem;
  font-weight: bold;
}
#home article.article-1 .card .card-body .card-text {
  margin-bottom: 15px;
}
#home article.article-1 .card .card-body .card-text ul {
  padding-left: 0px;
  list-style-type: none;
}
#home article.article-1 .card .card-body .card-text ul li p {
  color: #8C92A7;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#home article.article-1 .card .card-body .card-text ul li p span {
  color: #58595B;
  padding-left: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: capitalize;
}
#home article.article-1 .card .card-body .card-text ul li p span.highlight {
  color: #f15a22;
}
#home article.article-1 .card .card-body div a {
  background-color: #d95060;
  color: #fff;
  height: 35px;
  padding: 10px;
  width: auto;
  border-radius: 5px;
  font-size: 1.3rem;
}
#home article.article-2 {
  background-color: #f1f1f1;
}
#home article.article-2 h2 {
  margin-top: 4.5rem;
  color: #192450;
  font-size: 2.1rem;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
}
#home article.article-2 h2 span {
  text-transform: capitalize;
  font-size: 2.8rem;
  font-family: 'Lora', sans-serif;
  font-style: italic;
  font-weight: 400;
}
#home article.article-2 .col-xl-3 {
  margin-bottom: 5rem;
}
#home article.article-2 .col-xl-3:after {
  content: "";
  background-color: #dededf;
  position: absolute;
  width: 2px;
  height: 110%;
  top: 0;
  right: 5%;
  display: block;
}
#home article.article-2 .col-xl-3:last-of-type:after {
  width: 0;
}
#home article.article-2 .card {
  border: 0;
  background-color: transparent;
  width: 90%;
}
#home article.article-2 .card .thumbnail {
  max-width: 11.7rem;
}
#home article.article-2 .card .thumbnail img {
  border: 1px solid #cccdcc;
}
#home article.article-2 .card .card-body {
  padding-left: 2rem;
}
#home article.article-2 .card .card-body .card-title {
  font-size: 2.1rem;
  color: #1a2550;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  #home article.article-2 .card .card-body .card-title {
    font-size: 2.1rem;
  }
}
@media (min-width: 1920px) {
  #home article.article-2 .card .card-body .card-title {
    font-size: 2.1rem;
  }
}
#home article.article-2 .card .card-body .card-text ul {
  list-style-type: none;
  padding: 0;
}
#home article.article-2 .card .card-body .card-text ul li p {
  color: #8C92A7;
  font-size: 9px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#home article.article-2 .card .card-body .card-text ul li p.highlight {
  color: #1A2550;
}
#home article.article-2 .card .card-body .card-text ul li p span {
  font-size: 12px;
  color: #676B7C;
  padding-left: 10px;
  text-transform: capitalize;
}
#home article.article-2 .card .card-body .card-text ul li p span.highlight {
  font-weight: bold;
  color: #f15a22;
  font-weight: 800;
}
#home article.article-2 .card .card-footer {
  border: 0;
  margin-top: 12px;
}
#home article.article-2 .card .card-footer a {
  border-radius: 10px;
  padding-left: 10px;
  justify-content: space-between;
  align-items: baseline;
  color: #fff;
  font-size: 1.3rem;
}
#home article.article-2 .card .card-footer a.bg-color-1 {
  background-color: #82a4be;
}
#home article.article-2 .card .card-footer a.bg-color-2 {
  background-color: #ef4337;
}
#home article.article-2 .card .card-footer a.bg-color-3 {
  background-color: #e3a83e;
}
#home article.article-2 .card .card-footer a.bg-color-4 {
  background-color: #bbce6a;
}
#home article.article-2 .card .card-footer a span.arrow-right {
  padding-right: 15px;
}
#home article.article-2 .card .card-footer a span.arrow-right:after {
  content: '';
  border: solid #fff;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 3px;
  top: -2px;
  position: relative;
}
#view-details {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #676B7C;
  background-color: #F2F2F2;
}
#view-details article {
  background-color: #F2F2F2;
  padding: 1.5rem 0 4.2rem 0;
  font-weight: 400;
}
#view-details article .container-fluid {
  width: 100%;
}
@media (min-width: 768px) {
  #view-details article .container-fluid {
    padding: 0 8rem;
  }
}
@media (min-width: 992px) {
  #view-details article .container-fluid {
    padding: 0 16rem;
  }
}
#view-details article .box {
  border: 1px solid #999999;
  padding: 3rem;
  background-color: #fff;
  border: 2px solid #939598;
}
#view-details article .box .text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
#view-details article .box .close span {
  font-size: 24px;
}
#view-details article .box .close span:first-of-type {
  opacity: 0.4;
  top: -1px;
  position: relative;
}
#view-details article .box .close span:last-of-type {
  margin-left: 10px;
  font-size: 12px;
}
#view-details article .box .two-column {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}
@media (min-width: 992px) {
  #view-details article .box .two-column {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
#view-details article .box .two-column .item-title {
  background-color: #F15A22;
  font-size: 9px;
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 2px;
  text-transform: uppercase;
  font-weight: 700;
}
#view-details article .box .two-column .cols {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
#view-details article .box .two-column .cols:first-of-type {
  flex-basis: 60%;
}
#view-details article .box .two-column .cols:last-of-type {
  flex-basis: 40%;
  padding: 0 0 0 4.5rem;
}
#view-details article .box .two-column .cols.col-details {
  font-size: 10px;
}
#view-details article .box .two-column .cols.col-details span {
  color: #617C9C;
  font-size: 13px;
}
#view-details article .box .two-column .cols.col-details .item-details {
  padding-left: 0px;
  list-style-type: none;
}
#view-details article .box .two-column .cols.col-details .item-details li p {
  color: #8C92A7;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#view-details article .box .two-column .cols.col-details .item-details li p span {
  color: #58595B;
  padding-left: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: capitalize;
}
#view-details article .box .two-column .cols.col-details .item-details li p span.highlight {
  color: #f15a22;
}
#view-details article .box .two-column .cols.col-details ul:last-of-type {
  list-style-type: none;
  padding-left: 15px;
  font-size: inherit;
}
#view-details article .box .two-column .cols.col-details ul:last-of-type li {
  text-indent: -5px;
  font-size: inherit;
}
#view-details article .box .two-column .cols.col-details ul:last-of-type li:before {
  content: "-";
  text-indent: -5px;
}
#view-details article .box .two-column .cols .two-column {
  display: flex;
}
#view-details article .box .two-column .cols .two-column div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
#view-details article .box .two-column .cols .two-column div:first-of-type {
  flex: 1 6 0;
  padding: 2rem;
}
@media (min-width: 992px) {
  #view-details article .box .two-column .cols .two-column div:first-of-type {
    padding: 4rem;
  }
}
#view-details article .box .two-column .cols .two-column div:first-of-type img {
  width: 20%;
}
@media (min-width: 992px) {
  #view-details article .box .two-column .cols .two-column div:first-of-type img {
    width: 70%;
  }
}
#view-details article .box .two-column .cols .two-column div:last-of-type {
  flex: 6 1 0;
}
#view-details article .box .two-column .cols .two-column div:last-of-type p {
  font-size: 8px;
  line-height: 14px;
}
#view-details article .box .two-column .cols #carouselViewDetailsIndicators {
  background-color: #F2F2F2;
}
#view-details article .box .two-column .cols #carouselViewDetailsIndicators.carousel .carousel-item {
  padding: 2rem 20.5rem 9rem 20.5rem;
}
#view-details article .box .two-column .cols #carouselViewDetailsIndicators.carousel .carousel-indicators {
  bottom: 40px;
}
#view-details article .box .two-column .cols #carouselViewDetailsIndicators.carousel .carousel-indicators li {
  margin: 0 2rem;
}
#view-details article .box .two-column .cols #carouselViewDetailsIndicators.carousel .carousel-indicators li img {
  max-width: 100px;
  height: 40px;
  overflow: hidden;
  display: block;
  padding: 4px;
}
#view-details article .box .two-column .cols #carouselViewDetailsIndicators.carousel .carousel-indicators li.active img {
  border: 2px solid #F15A22;
  position: relative;
  border-radius: 5px;
}
#view-details article .box .two-column .cols #carouselViewDetailsIndicators.carousel .carousel-control-prev span {
  background-image: url('../Images/Icons/prev.png');
  background-position: 4px;
}
#view-details article .box .two-column .cols #carouselViewDetailsIndicators.carousel .carousel-control-next span {
  background-image: url('../Images/Icons/next.png');
  background-position: 7px;
}
#view-details article .box .two-column .cols #carouselViewDetailsIndicators.carousel .carousel-control-prev span,
#view-details article .box .two-column .cols #carouselViewDetailsIndicators.carousel .carousel-control-next span {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  padding: 10px;
  background-origin: content-box;
  background-size: contain;
}
#view-details article .box .two-column .cols #carouselViewDetailsIndicators.carousel .carousel-control-prev span:first-of-type,
#view-details article .box .two-column .cols #carouselViewDetailsIndicators.carousel .carousel-control-next span:first-of-type {
  background-color: #F15A22;
}
#view-details article .box .begin-campaign-setup {
  margin-left: auto;
  border: 1px solid #00B2BD;
  border-radius: 5px;
  height: 32px;
  font-size: 1.3rem;
  color: #fff;
  background-color: #00B2BD;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0.375rem 1.75rem;
}
#campaigns {
  font-family: 'Lato', sans-serif;
}
#campaigns .text-muted p:not(.text-1),
#campaigns button p:not(.text-1),
#campaigns .text-muted a,
#campaigns button a,
#campaigns .text-muted input,
#campaigns button input,
#campaigns .text-muted select,
#campaigns button select,
#campaigns .text-muted button,
#campaigns button button,
#campaigns .text-muted img,
#campaigns button img,
#campaigns .text-muted textarea,
#campaigns button textarea,
#campaigns .text-muted[disabled=disabled],
#campaigns button[disabled=disabled],
#campaigns .text-muted table,
#campaigns button table {
  opacity: 0.3;
}
#campaigns .disable-section .muted {
  opacity: 0.3;
}
#campaigns article.step-1,
#campaigns article.step-2,
#campaigns article.step-3 {
  background-color: #F2F2F2;
  padding: 1.5rem 0 4.2rem 0;
  font-weight: 400;
}
#campaigns article.step-1 .container-fluid,
#campaigns article.step-2 .container-fluid,
#campaigns article.step-3 .container-fluid {
  width: 100%;
}
@media (min-width: 768px) {
  #campaigns article.step-1 .container-fluid,
  #campaigns article.step-2 .container-fluid,
  #campaigns article.step-3 .container-fluid {
    padding: 0 8rem;
  }
}
@media (min-width: 992px) {
  #campaigns article.step-1 .container-fluid,
  #campaigns article.step-2 .container-fluid,
  #campaigns article.step-3 .container-fluid {
    padding: 0 16rem;
  }
}
#campaigns article.step-1 .box,
#campaigns article.step-2 .box,
#campaigns article.step-3 .box {
  border: 1px solid #999999;
  padding: 3rem;
  background-color: #fff;
}
#campaigns article.step-1 .box .back,
#campaigns article.step-2 .box .back,
#campaigns article.step-3 .box .back {
  position: relative;
  cursor: pointer;
}
#campaigns article.step-1 .box .back:before,
#campaigns article.step-2 .box .back:before,
#campaigns article.step-3 .box .back:before {
  content: "";
  background: transparent url('../Images/Icons/back-arrow.png') no-repeat center center;
  background-size: cover;
  width: 14px;
  height: 12px;
  position: absolute;
  left: -20px;
  top: 2.5px;
}
#campaigns article.step-1 .box p,
#campaigns article.step-2 .box p,
#campaigns article.step-3 .box p {
  color: #676B7C;
  font-size: 1.3rem;
  text-transform: capitalize;
}
#campaigns article.step-1 .box p.text-1,
#campaigns article.step-2 .box p.text-1,
#campaigns article.step-3 .box p.text-1 {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
#campaigns article.step-1 .box p.text-2,
#campaigns article.step-2 .box p.text-2,
#campaigns article.step-3 .box p.text-2 {
  font-size: 1.2rem;
}
#campaigns article.step-1 .box p.highlight,
#campaigns article.step-2 .box p.highlight,
#campaigns article.step-3 .box p.highlight {
  color: #1A2550;
}
#campaigns article.step-1 .box .form-group div,
#campaigns article.step-2 .box .form-group div,
#campaigns article.step-3 .box .form-group div {
  width: 50%;
  padding-right: 3rem;
}
#campaigns article.step-1 .box .form-group div:last-of-type,
#campaigns article.step-2 .box .form-group div:last-of-type,
#campaigns article.step-3 .box .form-group div:last-of-type {
  width: 10%;
  padding: 0;
}
#campaigns article.step-1 .box .form-group div:last-of-type button,
#campaigns article.step-2 .box .form-group div:last-of-type button,
#campaigns article.step-3 .box .form-group div:last-of-type button {
  margin-left: auto;
  border: 1px solid #00B2BD;
  border-radius: 5px;
  height: 32px;
  font-size: 1.3rem;
  color: #fff;
  background-color: #00B2BD;
  padding-left: 15px;
  padding-right: 15px;
}
#campaigns article.step-1 .box .form-group div input,
#campaigns article.step-2 .box .form-group div input,
#campaigns article.step-3 .box .form-group div input,
#campaigns article.step-1 .box .form-group div select,
#campaigns article.step-2 .box .form-group div select,
#campaigns article.step-3 .box .form-group div select {
  border: 1px solid #999999;
  width: 100%;
  border-radius: 5px;
  height: 25px;
  font-size: 1.1rem;
  padding-left: 5px;
}
#campaigns article.step-1 .box .form-group div input,
#campaigns article.step-2 .box .form-group div input,
#campaigns article.step-3 .box .form-group div input {
  color: #A7A9AC;
}
#campaigns article.step-1 .box .form-group div select,
#campaigns article.step-2 .box .form-group div select,
#campaigns article.step-3 .box .form-group div select {
  color: #44444D;
}
#campaigns article.step-1 .box .table-members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-size: 11px;
}
#campaigns article.step-1 .box .table-members p {
  font-size: 13px;
  color: #44444d;
}
#campaigns article.step-1 .box .table-members p.total-participants-groups {
  color: #8c92a7;
  font-size: 9px;
  margin-top: 10px;
}
#campaigns article.step-1 .box .table-members p.total-participants-groups span.highlight {
  font-size: 12px;
  color: #f15a22;
}
#campaigns article.step-1 .box .table-members p.total-participants-groups b {
  font-size: 12px;
  color: #231f20;
}
#campaigns article.step-1 .box .table-members input[type=checkbox] {
  width: 20px;
  height: 20px;
}
#campaigns article.step-1 .box .table-members input[type=checkbox]:after {
  content: " ";
  background-color: #00b2bd;
  display: inline-block;
  visibility: visible;
}
#campaigns article.step-1 .box .table-members input[type=checkbox]:checked:after {
  content: "\2714";
  box-shadow: 0px 2px 4px rgba(155, 155, 155, 0.15);
  border-radius: 3px;
  height: 20px;
  display: block;
  width: 20px;
  text-align: center;
  font-size: 13px;
  color: white;
}
#campaigns article.step-1 .box .table-members .cols {
  flex-basis: 90%;
}
#campaigns article.step-1 .box .table-members .cols:last-of-type {
  flex-basis: 10%;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  padding-bottom: 3.5rem;
}
#campaigns article.step-1 .box .table-members .cols:last-of-type button {
  margin-left: auto;
  border: 1px solid #00B2BD;
  border-radius: 5px;
  height: 32px;
  font-size: 1.3rem;
  color: #fff;
  background-color: #00B2BD;
  padding-left: 15px;
  padding-right: 15px;
}
#campaigns article.step-1 .box .table-members > div {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
#campaigns article.step-1 .box .table-members > div table {
  border-collapse: collapse;
  width: 100%;
}
#campaigns article.step-1 .box .table-members > div table thead tr {
  background-color: #f15a22;
  border-left: 1px solid #f15a22;
  border-right: 1px solid #f15a22;
}
#campaigns article.step-1 .box .table-members > div table thead tr th {
  border: 1px solid #fff;
  border-top-color: transparent;
  padding: 0.5rem 1.5rem;
  color: #fff;
}
#campaigns article.step-1 .box .table-members > div table tbody:before {
  /* This doesn't work because of border-collapse */
  line-height: 0.5em;
  content: ".";
  color: white;
  /* bacground color */
  display: block;
}
#campaigns article.step-1 .box .table-members > div table tbody tr {
  border: 1px solid #96999c;
}
#campaigns article.step-1 .box .table-members > div table tbody tr.row-selected {
  background-color: #bdd0df;
}
#campaigns article.step-1 .box .table-members > div table tbody tr td {
  border: 1px solid #96999c;
  font-weight: 700;
  color: #231f20;
  padding: 0.5rem 1.5rem;
}
#campaigns article.step-1 .box .form-group div {
  width: 100%;
}
#campaigns article.step-1 .box .form-group div:last-of-type {
  width: 50%;
}
#campaigns article.step-2 .box {
  background-color: #F2F2F2;
}
#campaigns article.step-2 .box .highlight {
  font-size: 1.4rem;
}
#campaigns article.step-2 .box .font-1 {
  font-size: 12px;
}
#campaigns article.step-2 .box .font-2 {
  font-size: 9px;
}
#campaigns article.step-2 .box a.btn-option {
  background-color: #F15A22;
  font-size: 13px;
  display: block;
  margin-top: 3px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 7px 0;
}
#campaigns article.step-2 .box a.btn-option span {
  font-size: 10px;
  font-weight: 300;
}
#campaigns article.step-2 .box.box-a {
  border-bottom: 0;
}
#campaigns article.step-2 .box.box-b {
  border-top: 0;
}
#campaigns article.step-2 .box.box-b textarea {
  height: 14.8rem;
  padding: 10px;
  font-size: 11px;
}
#campaigns article.step-2 .box.box-b img {
  background-color: #fff;
}
#campaigns article.step-2 .box.box-b button {
  margin-left: auto;
  border: 1px solid #00B2BD;
  border-radius: 5px;
  height: 32px;
  font-size: 1.3rem;
  color: #fff;
  background-color: #00B2BD;
  padding-left: 15px;
  padding-right: 15px;
}
#campaigns article.step-2 .box.box-b p.semibold {
  font-weight: 700;
  padding-left: 15px;
}
#campaigns article.step-2 .box.box-b p small {
  font-size: 9px;
  padding-left: 15px;
  font-weight: 400;
}
#campaigns article.step-3 .box hr {
  position: relative;
  border: none;
  height: 0.5px;
  background: #8C92A7;
  width: 100%;
  margin-top: 25px;
}
#campaigns article.step-3 .box .finalize label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #676B7C;
  text-align: start;
  width: 40%;
  font-size: 12px;
  font-weight: 300;
}
#campaigns article.step-3 .box .finalize label input {
  margin-right: 10px;
  cursor: pointer;
}
#campaigns article.step-3 .box .finalize .btn-finalize {
  border-color: #F15A22;
  background-color: #F15A22;
  color: #fff;
  font-size: 13px;
  padding: 7px 15px;
  border-radius: 5px;
}
#campaigns article.step-3 .box p {
  font-weight: 700;
  font-size: 9px;
  text-transform: uppercase;
}
#campaigns article.step-3 .box p.highlight {
  font-size: 14px;
  text-transform: capitalize;
  font-family: 'abril-display-italic', serif;
}
#campaigns article.step-3 .box p.highlight + p {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 400;
}
#campaigns article.step-3 .box p span {
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}
#campaigns article.step-3 .box p span.highlight {
  color: #F15A22;
}
#campaigns article.step-3 .review {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
#campaigns article.step-3 .review .horizontal-review::before {
  content: "";
  position: absolute;
  border-left: 1px solid #8C92A7;
  height: 75%;
  left: 20px;
  z-index: 1;
  top: 25%;
}
#campaigns article.step-3 .review .horizontal-review::after {
  content: "REVIEW";
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: center center;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: center center;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin: center center;
  top: 20px;
  left: -15px;
  position: absolute;
  color: #8C92A7;
  z-index: 2;
  letter-spacing: 2px;
}
#campaigns article.step-3 .review div {
  flex-basis: 30%;
  flex-grow: 1;
  flex-direction: column;
  text-align: left;
  padding-right: 15px;
}
#campaigns article.step-3 .review div:first-of-type {
  flex-basis: 3%;
}
#campaigns article.step-3 .review div:last-of-type {
  padding-right: 0px;
  padding-left: 45px;
}
#campaigns article.step-3 .review div img {
  width: 100%;
  border: 1px solid #999999;
}