@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u-w4BMUTPHjxsIPy-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u_w4BMUTPHjxsI9w2PHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u8w4BMUTPHjxswWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u_w4BMUTPHjxsI5wqPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u_w4BMUTPHjxsI3wiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u8w4BMUTPHh30wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh7USew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh50Xew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-MoFkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-PgFkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-BQCkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-C0Ckqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI6MX1D_JOuGQbT0gvTJPa787weuyJG.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI6MX1D_JOuGQbT0gvTJPa787wsuyJG.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI6MX1D_JOuGQbT0gvTJPa787zAvCJG.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v17/0QI6MX1D_JOuGQbT0gvTJPa787z5vCJG.ttf) format('truetype');
}
@font-face {
  font-family: "abril-display";
  src: url("https://blogfonts.com/fonts/a/246/153246/file/Abril_Display_Black.otf") format("woff"), url("https://blogfonts.com/fonts/a/246/153246/file/Abril_Display_Black.otf") format("opentype"), url("https://blogfonts.com/fonts/a/246/153246/file/Abril_Display_Black.otf") format("truetype");
}
@font-face {
  font-family: "lato-semibold-italic-15";
  src: url("https://blogfonts.com/fonts/l/707/1707/file/lato.semibold-italic.ttf") format("woff"), url("https://blogfonts.com/fonts/l/707/1707/file/lato.semibold-italic.ttf") format("opentype"), url("https://blogfonts.com/fonts/l/707/1707/file/lato.semibold-italic.ttf") format("truetype");
}
@font-face {
  font-family: "lato-regular";
  src: url("https://blogfonts.com/fonts/l/707/1707/file/lato.regular.ttf") format("woff"), url("https://blogfonts.com/fonts/l/707/1707/file/lato.regular.ttf") format("opentype"), url("https://blogfonts.com/fonts/l/707/1707/file/lato.regular.ttf") format("truetype");
}
@font-face {
  font-family: "lato-semibold-6";
  src: url("https://blogfonts.com/fonts/l/707/1707/file/lato.semibold.ttf") format("woff"), url("https://blogfonts.com/fonts/l/707/1707/file/lato.semibold.ttf") format("opentype"), url("https://blogfonts.com/fonts/l/707/1707/file/lato.semibold.ttf") format("truetype");
}
@font-face {
  font-family: "lato-light-4";
  src: url("https://blogfonts.com/fonts/l/707/1707/file/lato.light.ttf") format("woff"), url("https://blogfonts.com/fonts/l/707/1707/file/lato.light.ttf") format("opentype"), url("https://blogfonts.com/fonts/l/707/1707/file/lato.light.ttf") format("truetype");
}
html {
  position: relative;
  min-height: 100%;
  font-size: 52.5%;
}
@media (min-width: 576px) {
  html {
    font-size: 40.5%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 45.5%;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 52.5%;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
    /*1rem = 10px*/
  }
}
body {
  color: red;
  font-size: 1.6rem;
  padding-top: 7.1rem;
  font-family: 'lato-regular', sans-serif;
}
@media (min-width: 576px) {
  body {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 1.6rem;
  }
}
nav {
  min-height: 7.1rem;
  background-color: #d4d4d8;
  font-family: 'lato-regular', sans-serif;
}
nav.navbar {
  padding: 0;
}
nav.navbar .collapse {
  padding: 0 24.5rem;
}
nav.navbar .collapse ul.navbar-nav li a.nav-link {
  line-height: 7.1rem;
  background-color: #f05a22;
  padding: 0 30px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}
nav.navbar .collapse ul.navbar-nav li.active a.nav-link {
  position: relative;
}
nav.navbar .collapse ul.navbar-nav li.active a.nav-link:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: solid 8px #fff;
  border-left: solid 7.5px transparent;
  border-right: solid 7.5px transparent;
}
h2 {
  margin-top: 4.5rem;
  font-family: 'Lora', serif;
  font-style: italic;
  color: #192450;
  font-size: 2rem;
}
h2 span {
  font-family: 'lato-regular', sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}
article.article-1 {
  margin-top: 4rem;
}
article.article-1 .card {
  flex-direction: row;
  align-items: center;
  font-family: 'lato-semibold-italic-15';
  border: 0;
  margin-bottom: 12rem;
}
article.article-1 .card .thumbnail {
  max-width: 24.8rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
  position: relative;
  border: 1px solid #dddedf;
}
article.article-1 .card .thumbnail .card-img-top {
  min-width: 100%;
}
article.article-1 .card .thumbnail .thumbnail-footer {
  position: absolute;
  bottom: 0;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  width: 100%;
}
article.article-1 .card .thumbnail .thumbnail-footer span {
  padding-left: 10px;
  font-size: 13px;
  font-family: 'lato-regular', sans-serif;
}
article.article-1 .card .thumbnail .thumbnail-footer span.color-1 {
  color: #617c9c;
}
article.article-1 .card .thumbnail .thumbnail-footer span.color-2 {
  color: #ef4438;
}
article.article-1 .card .thumbnail .thumbnail-footer span.color-3 {
  color: #cf9518;
}
article.article-1 .card .thumbnail .thumbnail-footer span.color-4 {
  color: #8aa532;
}
article.article-1 .card .card-body {
  padding-left: 40px;
}
article.article-1 .card .card-body .card-title {
  color: #1a2550;
  font-size: 10px;
  font-family: 'abril-display', sans-serif;
  font-style: italic;
  margin-bottom: 3rem;
}
article.article-1 .card .card-body .card-text ul {
  padding-left: 0px;
  list-style-type: none;
}
article.article-1 .card .card-body .card-text ul li p {
  color: #676b7c;
  font-size: 9px;
}
article.article-1 .card .card-body .card-text ul li p span {
  color: #676b7c;
  padding-left: 10px;
  font-size: 12px;
  font-family: 'lato-regular', sans-serif;
}
article.article-1 .card .card-body .card-text ul li p span.highlight {
  color: #f15a22;
}
article.article-1 .card .card-body div a {
  background-color: #d95060;
  height: 35px;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
}
article.article-2 {
  background-color: #f1f1f1;
  padding-top: 8rem;
}
article.article-2 .col-xl-3 {
  margin-bottom: 5rem;
}
article.article-2 .col-xl-3:after {
  content: "";
  background-color: #dededf;
  position: absolute;
  width: 2px;
  height: 110%;
  top: 0;
  right: 5%;
  display: block;
}
article.article-2 .col-xl-3:last-of-type:after {
  width: 0;
}
article.article-2 .card {
  border: 0;
  background-color: transparent;
  width: 90%;
}
article.article-2 .card .thumbnail {
  max-width: 11.7rem;
}
article.article-2 .card .thumbnail img {
  border: 1px solid #cccdcc;
}
article.article-2 .card .card-body {
  padding-left: 2rem;
}
article.article-2 .card .card-body .card-title {
  font-size: 2.1rem;
  color: #1a2550;
  font-family: lato-light-4;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  article.article-2 .card .card-body .card-title {
    font-size: 1.8rem;
  }
}
@media (min-width: 1920px) {
  article.article-2 .card .card-body .card-title {
    font-size: 2.1rem;
  }
}
article.article-2 .card .card-body .card-text ul {
  list-style-type: none;
  padding: 0;
}
article.article-2 .card .card-body .card-text ul li p {
  color: #8c92a7;
  font-size: 9px;
  font-family: lato-light-4;
  text-transform: uppercase;
}
article.article-2 .card .card-body .card-text ul li p.highlight {
  color: #1a2550;
}
article.article-2 .card .card-body .card-text ul li p span {
  font-size: 12px;
  color: #676b7c;
  padding-left: 10px;
  text-transform: capitalize;
}
article.article-2 .card .card-body .card-text ul li p span.highlight {
  font-weight: bold;
  color: #f15a22;
}
article.article-2 .card .card-footer {
  border: 0;
  margin-top: 12px;
}
article.article-2 .card .card-footer a {
  border-radius: 10px;
  padding-left: 10px;
}
article.article-2 .card .card-footer a.bg-color-1 {
  background-color: #82a4be;
}
article.article-2 .card .card-footer a.bg-color-2 {
  background-color: #ef4337;
}
article.article-2 .card .card-footer a.bg-color-3 {
  background-color: #e3a83e;
}
article.article-2 .card .card-footer a.bg-color-4 {
  background-color: #bbce6a;
}